:global {

    html,
    body {
        height: 100%;
        width: 100%;
        background: #f5f5f5;
        // overflow: hidden;
    }

    #root {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .application_view {
        position: relative;
        height: 100%;
        // z-index: 5000;
        overflow: hidden;
        box-sizing: border-box;
    }

    .application_page {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translate3d(0, 0, 0);
    }

    .application_content {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;
        height: 100%;
        position: relative;
        z-index: 1;
    }

    .application_header~.application_content {
        padding-top: .88rem;
    }

    .application_footer~.application_content {
        padding-bottom: 1rem;
    }
}
